// adding my own fonts
@font-face {
    font-family: drawText1;
    src: url(../scss/fonts/Montserrat-ExtraLight.ttf);
}

@font-face {
    font-family: drawText2;
    src: url(../scss/fonts/komika-display.kaps-bold.ttf);
}

@font-face {
    font-family: batman2;
    src: url(../scss/fonts/DkcForever-ZGXq.ttf);
}