// adding my own fonts
@font-face {
    font-family: drawText1;
    src: url(../scss/fonts/DKHand.ttf);
}

@font-face {
    font-family: drawText2;
    src: url(../scss/fonts/KOMIKAH.ttf);
}

@font-face {
    font-family: batman2;
    src: url(../scss/fonts/DkcForever-ZGXq.ttf);
}