body{
    // section for the content of the home page
    section{
        display: flex;
        flex-direction: column;
        align-items: center;

        // moves the home title and it's properties
        .homeTitle {
            color: white;
            text-align: center;
            font-size: 7vw;
            margin-top: 5.5rem;
        }

        // edits the picture of me on the home page
        .homeImg{
            width: 40vw;
            margin-top: 2rem;
            border-radius: 100%;
        }

        // edits the text at the bottom of the home page
        .homeText{
            color: white;
            margin-top: 1.5rem;
            text-align: center;
            font-size: 4vw;
        }
    }
}