body{
    // edits the burger for the nav bar
    .burger{
        margin: {
            left: 1rem;
            top: .5rem;
        };
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 0rem; left: 0rem;
    }

    // edits the nav section and makes it not visible
    nav{
        width: 0%;
        position: sticky;
        top: 0rem; left: 0rem;
        z-index: 5;
        // transform: translateX(-100%);
        background-color: #1e1e1e;

        // edits the content of the nav section
        .navContent{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 4rem;

            // close button for the nav
            .x {
                position: absolute;
                top: 0; left: 0;
                width: 4rem;
                height: 4rem; 
                margin: {
                    top: 1rem;
                    left: 1rem;
                }
                display: none;
            }

            // edits the links within the nav
            .navLink{
                text-decoration: none;
                justify-content: center;
                color: white;
                font-size: 250%;
                display: none;
            }
        }
    }
}