body{
    // making a basic flexbox
    .flexbox{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        // make the section for the for one row
        .sanDiegoSection{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            margin-top: 2vh;
            margin-bottom: 2vh;

            // edits the title of the page
            .sanDiegoTitle{
                color: white;
                font-size: 6vw;
                text-align: center;
                font-family: drawText2;
            }

            // actual text container
            .textCont{                
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: {
                    left: 8vw;
                    right: 8vw
                };
                
                // the actual text in the text section
                .text{
                    color: white;
                    background-color: #1e1e1e;
                    text-align: center;
                    border-radius: 20px;
                    padding: {
                        top: 2vh;
                        bottom: 2vh;
                        left: .25vw;
                        right: .25vw;
                    };
                    margin-bottom: 0;
                    font-size: 2vw;
                }
            }

            // edits the images
            .img {
                // display: flex;
                // flex-grow: 2;
                width: 15vw;
                border-radius: 20px;
                margin-right: 8vw;
            }

            // class to show image
            .active{
                display: block;
            }

            // second active class for another slideshow
            .active2{
                display: block;
            }

            // class to hide image
            .deactive{
                display: none;
            }
        }
    }
}